@import "./styles/mixins.scss";

.project-dialog {
  & > * {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  &.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  .dialog-exit {
    display: flex;
    justify-content: flex-end;
    & > i {
      font-size: 30px;
      cursor: pointer;
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  h2 {
    margin: 20px 0;
    font-size: 30px;
    text-align: left;
    font-weight: normal;
  }
  p {
    text-align: left;
    font-size: 18px;
  }
}

.dialog-banner {
  height: 200px;
  width: 100%;
}

.project-links {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 0 0;
  a {
    padding: 10px 20px;
    font-size: 13px;
  }
}
