@import "./styles/variables.scss";
@import "./styles/mixins.scss";

.project-dialog {
  position: relative;
  & > * {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  &.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  .dialog-banner {
    height: 200px;
    width: 100%;
  }
  h2 {
    margin: 15px 0 0 0;
    font-size: 35px;
    text-align: left;
    font-weight: normal;
    color: $primary-color;
  }
  h3 {
    margin: 5px 0;
    text-align: left;
    color: $charcoal;
    font-size: 14px;
    font-weight: normal;
  }
  p {
    text-align: left;
    font-size: 18px;
    color: $charcoal;
  }
}

.exit-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  .drawer-exit {
    width: 100%;
    display: flex;
    justify-content: center;
    & > i {
      font-size: 25px;
      cursor: pointer;
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}

.project-links {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0 0 0;
  a {
    padding: 10px 20px;
    font-size: 13px;
  }
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  .tech-badge {
    @include rgba_primary(0.6);
    padding: 5px;
    color: #ffffff;
    font-weight: 300;
    margin: 0 5px 5px 0;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .project-dialog {
    h2 {
      font-size: 30px;
    }
  }
  .project-links {
    justify-content: center;
  }
}
