@import "./styles/mixins.scss";

.project-dialog {
  & > * {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  &.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  .dialog-exit {
    display: flex;
    justify-content: flex-end;
    & > i {
      font-size: 30px;
      cursor: pointer;
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}
