{
    "semi": true,
    "arrowParens": "always",
    "singleQuote": true,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-organize-imports"],
    "pluginSearchDirs": false,
    "organizeImportsSkipDestructiveCodeActions": true,
    "printWidth": 80,
    "trailingComma": "all",
    "endOfLine": "auto"
}
