.projects-paper {
  min-height: 100px;
  width: 80%;
  margin: 5px 10px 5px 10px;
}

@media (min-width: 0) and (max-width: 800px) {
  .projects-div {
    padding-left: 10px;
    padding-right: 10px;
  }

  .projects-paper {
    min-height: 100px;
    width: 100%;
    margin: 0 0 10px 0;
  }
}

.github-button {
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  margin-right: 0;
}
