.About-container {
  display: flex;
  background-color: #FFFFFF;
  padding-left: calc(10% - 10px);
  padding-left: -o-calc(10% - 10px); /* opera */
  padding-left: -webkit-calc(10% - 10px); /* google, safari */
  padding-left: -moz-calc(10% - 10px); /* firefox */
}

.About-content {
  min-height: 100px;
  width: 70%;
  margin: 10px;
  padding: 10px;
}

@media (min-width: 0) and (max-width: 800px) {
  .About-content {
    min-height: 100px;
    width: 90%;
    margin: 10px;
    padding: 10px;
  }
}

.About-content p {
  color: #4F4F4F;
}

@media (min-width: 1000px) {
  .About-content p {
    margin: 0;
    font-size: 20px;
    line-height: 40px;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .About-content p {
    margin: 0;
    font-size: 20px;
    line-height: 40px;
  }
}

@media (min-width: 0) and (max-width: 700px) {
  .About-content p {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
  }
}
