@import "../../styles/variables.scss";

.resume-container {
  padding: 100px 25px;
  line-height: 1.5;
  & > * {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.resume-section {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0 0 50px 0;
  .section-left {
    max-width: 300px;
    width: 100%;
    text-align: right;
    h1 {
      margin: 0;
      font-weight: 300;
      font-size: 30px;
      padding: 0 100px 25px 0;
    }
  }
  .section-right {
    max-width: 800px;
    width: 100%;
  }
}

.side-by-side {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  & > :first-child {
    margin: 0 100px 0 0;
  }
  h2 {
    font-weight: 300;
    margin: 10px 0;
  }
}

ul {
  font-size: 16px;
  li {
    list-style-position: outside;
    padding-left: 1em;
    text-indent: -1.3em;
    list-style: none;
    &::before {
      color: $primary-color;
      content: "\2022";
      font-size: 1em;
      padding-right: 1em;
      position: relative;
      top: 0em;
    }
  }
}

.resume-experience, .resume-education {
  margin: 0 0 30px 0;
  .resume-header {
    margin: 10px 0 0 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    h2 {
      font-weight: 300;
      margin: 0 10px 0 0;
      font-size: 23px;
      color: $primary-color;
    }
    h3 {
      font-size: 18px;
      font-weight: 300;
      margin: 0;
    }
  }
  h4 {
    margin: 0 0 10px 0;
    font-weight: 300;
    font-size: 14px;
    color: $charcoal;
  }
  p {
    font-size: 16px;
  }
}

.resume-download-container {
  background: $dark-gray;
  padding: 50px 25px;
  & > * {
    max-width: 1280px;
    margin: 0 auto;
  }
  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
  }
  .resume-download {
    padding: 25px 10px 0 10px;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.resume-contact-me {
  background: url('/images/backgrounds/green-telephone.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
}

.contact-banner-overlay {
  padding: 100px 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  transition: background .8s cubic-bezier(.25,.8,.25,1);
  color: #ffffff;
  font-weight: 300;
  &:hover, &:focus {
    background: rgba(0, 0, 0, .7);
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: 50px;
    font-weight: 300;
    margin: 0;
  }
  p {
    font-size: 25px;
    max-width: 500px;
    text-align: center;
    line-height: 1.5;
  }
  a {
    transition: background .4s cubic-bezier(.25,.8,.25,1), color .4s cubic-bezier(.25,.8,.25,1);
    color: #ffffff;
    padding: 20px 40px;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    border: 2px solid #ffffff;  
    text-decoration: none;
    font-weight: 300;
    &:link, &:visited {
      color: #ffffff;
      text-decoration: none;
    }
    &:hover, &:focus {
      background: #ffffff;
      color: #000000;
    }
  }
}

@media (max-width: 1000px) {
  .resume-section {
    .section-left {
      max-width: unset;
      text-align: center;
      h1 {
        padding: 0 0 25px 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .resume-container {
    padding: 50px 25px;
  }
  .resume-download-container {
    padding: 40px 25px;
    h2 {
      font-size: 30px;
    }
  }
  .resume-contact-me {
    height: 400px;
  }
  .contact-banner-overlay {
    padding: 75px 25px;
    h1 {
      font-size: 35px;
    }
    p {
      font-size: 20px;
    }
    a {
      padding: 15px 30px;
      font-size: 15px;
    }
  }
}

@media (max-width: 350px) {
  .contact-banner-overlay {
    h1 {
      font-size: 30px;
    }
    a {
      padding: 15px 20px;
      font-size: 15px;
    }
  }
}
