footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
  p {
    color: #4f4f4f;
    line-height: 1.4;
    &.footer-name {
      font-size: 15px;
    }
    &.footer-repo {
      font-size: 12px;
    }
  }
}
