footer {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #FFFFFF;
}

footer p {
  margin: 0;
  color: #4F4F4F;
}

.Footer-name {
  font-size: 15px;
}

.Footer-repo {
  font-size: 12px;
}
