@import "./styles/variables.scss";

.app-components {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  position: relative;
}

section.route-section {
  &.fade-exit {
    display: none;
  }
}

.fade-enter {
  opacity: 0.01;
  z-index: 1;
  &.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }
}

.fade-exit {
  opacity: 1;
  &.fade-exit-active {
    opacity: 0.01;
    transition: opacity 250ms ease-in;
  }
}
