@import "styles/variables.scss";
@import "styles/mixins.scss";

html {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

body {
  font-size: 13px;
  margin: 0;
  background: $background-color;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

p {
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.section {
  display: block;
  width: 100%;
}

.section-title {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  padding: 75px 15% 40px 15%;
}

.section-paper {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.left {
  padding-left: calc(10% - 10px);
  padding-left: -o-calc(10% - 10px); /* opera */
  padding-left: -webkit-calc(10% - 10px); /* google, safari */
  padding-left: -moz-calc(10% - 10px); /* firefox */
}

.white {
  background-color: #FFFFFF;
}

a:link,
a:visited,
a:hover {
  color: $primary-color;
  text-decoration: underline;
}

.button-link {
  transition: background .4s cubic-bezier(.25,.8,.25,1), color .4s cubic-bezier(.25,.8,.25,1);
  color: $primary-color;
  padding: 15px 25px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  border: 2px solid $primary-color;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  background: none;
  outline: none;
  cursor: pointer;
  &:link, &:visited {
    color: $primary-color;
    text-decoration: none;
  }
  &:hover, &:focus {
    background: $primary-color;
    color: #ffffff;
  }
}
