html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
}

.components {
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  color: #FFFFFF;
  fill: #FFFFFF;
  background: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.header-bottom {
  color: #000000;
  fill: #000000;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.banner {
  width: 100%;
  height: 100%;
  position: relative;
  background: url('../images/astoria.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

/* IE choppy banner fix */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .banner {
    background-attachment: scroll !important;
  }
}

/* Remove X from text inputs on IE */
input[type=text]::-ms-clear,
input[type=email]::-ms-clear {
  display: none;
}

.banner-words {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  background: rgba(0,0,0,.4);
  color: #FFFFFF;
}

.banner-name {
  position: absolute;
  width: 100%;
  padding-left: 15%;
  top: 40%;
  font-size: 40px;
  line-height: normal;
}

.banner-title {
  position: absolute;
  width: 100%;
  padding-left: 15%;
  top: 46%;
  font-size: 28px;
  line-height: normal;
}

@media (min-width: 0) and (max-width: 800px) {
  .banner-name,
  .banner-title {
    padding-left: 5%;
  }
}

.content {
  width: 100%;
  position: relative;
  padding-bottom: 50px;
  background-color: #F5F5F5;
}

.footer {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #FFFFFF;
}

.footer p {
  margin: 0;
  color: #4F4F4F;
}

.footer-built {
  font-size: 15px;
}

.footer-photo {
  font-size: 12px;
}

.section {
  display: block;
  width: 100%;
}

.section-title {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  padding: 75px 15% 40px 15%;
}

.section-paper {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.left {
  padding-left: calc(10% - 10px);
  padding-left: -o-calc(10% - 10px); /* opera */
  padding-left: -webkit-calc(10% - 10px); /* google, safari */
  padding-left: -moz-calc(10% - 10px); /* firefox */
}

.white {
  background-color: #FFFFFF;
}

.about-content {
  min-height: 100px;
  width: 70%;
  margin: 10px;
  padding: 10px;
}

.resume-paper {
  min-height: 100px;
  width: 60%;
  margin: 10px;
  padding: 20px;
}

.projects-paper {
  min-height: 100px;
  width: 80%;
  margin: 5px 10px 5px 10px;
}

.contact-paper {
  min-height: 100px;
  width: 40%;
  margin: 10px;
  padding: 20px;
}

@media (min-width: 0) and (max-width: 500px) {
  .contact-paper {
    min-height: 100px;
    width: 100%;
    margin: 10px;
    padding: 20px;
  }
}

@media (min-width: 501px) and (max-width: 750px) {
  .contact-paper {
    min-height: 100px;
    width: 70%;
    margin: 10px;
    padding: 20px;
  }
}

@media (min-width: 751px) and (max-width: 1000px) {
  .contact-paper {
    min-height: 100px;
    width: 50%;
    margin: 10px;
    padding: 20px;
  }
}

@media (min-width: 0) and (max-width: 800px) {
  .about-content {
    min-height: 100px;
    width: 90%;
    margin: 10px;
    padding: 10px;
  }

  .resume-paper {
    min-height: 100px;
    width: 100%;
    margin: 10px;
    padding: 20px;
  }

  .projects-div {
    padding-left: 10px;
    padding-right: 10px;
  }

  .projects-paper {
    min-height: 100px;
    width: 100%;
    margin: 0 0 10px 0;
  }
}

a:link,
a:visited,
a:hover {
  color: #CCA677;
  text-decoration: underline;
}

.resume-header {
  text-align: center;
  font-size: 27px;
  color: #85200C;
  margin-top: 10px;
  margin-bottom: 65px;
}

.resume-title {
  color: #949591;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.institution-title {
  color: #85200C;
  font-size: 14px;
}

.location-years {
  color: #B2B3AE;
}

.experience-list {
  margin: 0 0 10px 0;
}

.skills-list {
  margin: 0;
}

.school-description {
  margin-bottom: 10px;
}

.download-buttons {
  text-align: right;
}

.element {
  width: 100%;
  overflow: hidden;
}

.required {
  font-size: 12px;
}

.contact-text {
  font-size: 15px;
}

.contact-message {
  -ms-overflow-style: none;
}

.about-content p {
  color: #4F4F4F;
}

@media (min-width: 1000px) {
  .about-content p {
    margin: 0;
    font-size: 20px;
    line-height: 40px;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .about-content p {
    margin: 0;
    font-size: 20px;
    line-height: 40px;
  }
}

@media (min-width: 0) and (max-width: 700px) {
  .about-content p {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
  }
}

.header-button {
  height: 24px;
  width: 24px;
  fill: inherit;
}

.github-button {
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  margin-right: 0;
}
